---
openapi: 3.0.3
info:
  title: Skinsbag Affiliate API - OpenAPI 3.0
  description: |-
    This Swagger documentation is for affiliated partners of [skinsbag.gg](https://skinsbag.gg). To optain the `X-API-KEY` the affiliated partner has to navigate to their [profile](https://skinsbag.gg/profile) and generate the `X-API-KEY`. This API can be used to obtain the deposit and wager data of the partners referred users. The API is limited to a maximum of one request every 10 minutes.
  termsOfService: https://skinsbag.gg/tos
  version: 1.0.0
externalDocs:
  description: Contact us on discord
  url: http://discord.gg/skinsbag
servers:
  - url: http://skinsbag.gg/api/affiliate-data
paths:
  /leaderboard/wager:
    get:
      tags:
        - Leaderboard
      summary: Get the wager of referred users
      description: Get the wager of referred users in the given timespan
      operationId: getWager
      parameters:
        - in: query
          name: startsAt
          schema:
            type: string
          required: true
          description: ISO8601 compliant start date string. `new Date(startsAt)` should yield valid date
          example: 2024-12-12
        - in: query
          name: endsAt
          schema:
            type: string
          required: true
          description: ISO8601 compliant end date string. `new Date(endsAt)` should yield valid date
          example: 2024-12-13
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardWager'
        '400':
          description: Bad request (most likely invalid timespan provided)
        '401':
          description: Invalid `X-API-Key`
        '429':
          description: Too many request (1 request per 10 minutes)
  /leaderboard/deposit:
    get:
      tags:
        - Leaderboard
      summary: Get the deposit of referred users
      description: Get the deposit of referred users in given timepsan
      operationId: getDeposit
      parameters:
        - in: query
          name: startsAt
          schema:
            type: string
          required: true
          description: ISO8601 compliant start date string. `new Date(startsAt)` should yield valid date
          example: 2024-12-12
        - in: query
          name: endsAt
          schema:
            type: string
          required: true
          description: ISO8601 compliant end date string. `new Date(endsAt)` should yield valid date
          example: 2024-12-13
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardDeposit'
        '400':
          description: Bad request (most likely invalid timespan provided)
        '401':
          description: Invalid `X-API-Key`
        '429':
          description: Too many request (1 request per 10 minutes)
components:
  schemas:
    LeaderboardWager:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/LeaderboardWagerUser'
      xml:
        name: LeaderboardWager
    LeaderboardDeposit:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/LeaderboardDepositUser'
      xml:
        name: LeaderboardDeposit
    LeaderboardWagerUser:
      type: object
      properties:
        name:
          type: string
          example: User123
          description: Site name of the user
        avatar:
          type: string
          example: https://cdn-skinsbag.s3.eu-central-1.amazonaws.com/profile-pictures/675ef7a6b4500232b7ce62df-33NGCdvoOZAj/avatar.png
          description: Image url for the users avatar
        wagered:
          type: number
          example: 215.32
          description: The users wager amount
      xml:
        name: LeaderboardWagerUser
    LeaderboardDepositUser:
      type: object
      properties:
        name:
          type: string
          example: User123
          description: Site name of the user
        avatar:
          type: string
          example: https://cdn-skinsbag.s3.eu-central-1.amazonaws.com/profile-pictures/675ef7a6b4500232b7ce62df-33NGCdvoOZAj/avatar.png
          description: Image url for the users avatar
        deposit:
          type: number
          example: 53.32
          description: The users depsoit amount
      xml:
        name: LeaderboardDepositUser
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
security:
  - ApiKeyAuth: []
